body {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 1px solid lightblue;
}

a {
    color: lightblue;
    
}

.dark-text {
    color: darkblue;
    text-shadow: -2px 2px lightblue;
}

.light-text {
    color: lightblue;
    text-shadow: 2px 2px black;
}
